---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Flavie Dussauge</h1>
			<p class="hero__text">
				Mon portfolio est un espace où je partage mes projets, mes expériences et mes compétences.
			</p>
			<!-- <Boton href="#" texto="Descendez pour en savoir plus !"/> -->
		</div>
    <img
		class="hero__img"
		src="img/moi.png"
		alt="Flavie Dussauge"
		width="384"
    	height="384"
	/>
	</div>
</section>
