#skills {
	display: flex;
	max-width: calc(var(--max-width) + 2.2rem);
	padding-top: 10.1rem;
	gap: 2.2rem;
	margin: 8rem auto;
}

#skills .text-content {
	max-width: 40%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* gap: 1.1rem; */
}


progress {
	-webkit-appearance: none;
	appearance: none;
	
  }
  
  ::-webkit-progress-bar {
	background-color: var(--primary-90);
	
	border-radius: 8px;
  }

  ::-webkit-progress-value {
	background-color: var(--secondary-70);
	border-radius: 8px;
  }


@media screen and (max-width: 768px) {
	#skills {
		flex-direction: column-reverse;
	}
	#skills .text-content {
		max-width: 100%;
	}
}

progress{
	width: 100%;
  	height: 1.5rem;
	}