---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';

---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Langages maitrisés" />
		<p>
		Au cours de ma formation du BTS SIO, j'ai pu acquérir des compétences en développement web, en développement d'applications, en gestion de projets, en réseau et en base de données. Pour ma deuxième année de BTS SIO, j'ai choisi l'option SLAM (solutions logicielles et applications métiers) qui me permet de me spécialiser dans le développement d'applications.
	</p>
	</div>
</section>
