---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="Capture d'écran 2024-10-25 105659.png"
			alt="photo de profil de Flavie"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="À propos de moi" />
			<p class="about__text">
				Je m'appelle Flavie Dussauge, je suis actuellement en BTS SIO à l'école Dijon formation et je suis en alternance
				dans la société <a href="https://www.sncf-voyageurs.com/fr/">SNCF Voyageur.
				Vous pouvez retrouver ci-dessous mon linkedin et mon cv </a>.
			</p>
			<SocialIcons width="40" height="40" />
		</div>
	</div>

</section>
