---
const { contenido, margin } = Astro.props;
---

<h2 class="color__gradiente" style=`margin-bottom: 2rem` >{contenido}</h2>


<style>
	h2 {
		font-size: 5rem;
		font-weight: 500;
		color: #dcd8fc;
				
	}
</style>
